.footer__column-link {
  display: block;
  /* настройки шрифта */
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.footer__column-link:after {
  background-color: white; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  opacity: 70%;
}

.footer__column-link:hover {
  opacity: 70%;
}

.footer__column-link:hover:after,
.footer__column-link:focus:after {
  width: 100%;
}
