/* анимация при наведении на ссылку для футера */
.footer__column-link_theme_dark:after {
  background-color: white; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.footer__column-link_theme_dark:hover:after,
.footer__column-link_theme_dark:focus:after {
  width: 100%;
}
