.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
/* установили ограничения для секции */
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
/* установили позиционирование */
  position: relative;
/* установили цвет заднего фона */
  background-color: #f2f2f2;
/* центрирование заголовка h1 по центру */
  display: flex;
  align-items: center;
  padding-left: 64px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  /* ниже задали цвет квадрата */
  background-color: #2f80ed;
/* позиционируем квадрат абсолютно в header */
  position: absolute;
  top: 64px;
  right: 0;
}

.header__title {
/* убрал все отсупы */
  margin: 0;
/* задал ширину */
  width: 730px;
/* вывел расположение на передний план */
  z-index: 2;
/* настройки шрифта */
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
/* убрал все отсупы */
  margin: 0;
/* позиция абсолютно */
  position: absolute;
  bottom: 30px;
  left: 64px;
/* задал ширину */
  width: 388px;
/* вывел расположение на передний план */
  z-index: 2;
/* настройки шрифта */
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
/* убираю нижнее подчеркивание */
  text-decoration: none;
/* задаю цвет шрифта */
  color: #2f80ed;
}

.header__main-illustration {
/* задаю размер  */
  width: 765px;
  height: 608px;
/* позиционирование */
  position: absolute;
  bottom: 0;
  right: 0;
/* вывел поверх квадрата, но за текстом */
  z-index: 1;
}

/* задаем размер для логотипа,
который можно будет использовать и в header и в footer */
.logo {
  width: 228px;
  height: 32px;
}

/* позиционируем логотип в header абсолютно */
.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.description {
/* отступ от блока header */
  padding-top: 100px;
}

.two-columns {
/* задал ширину */
  width: 80%;
/* выравнивание по центру страницы */
  display: flex;
  margin: auto;
/* расстояние между колонками */
  justify-content: space-between;
}

.two-columns__brief {
/* убрал отступы */
  margin: 0;
/* задал ширину блока */
  min-width: 175px;
  max-width: 175px;
/* задал цвет шрифта */
  color: #2f80ed;
/* настройки шрифта */
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
/* задал ширину */
  width: 80%;
  min-width: 784px;
/* расстояние между параграфами */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
/* настройки шрифта */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
/* настройки шрифта */
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__paragraph {
/* убрал отступы */
  margin: 0;
}

.digits {
/* сдулал отступы снизу и сверху */
  padding: 100px 0 100px 0;
}

.section-title {
/* задал размер заголовка */
  width: 60%;
/* выравнивание по центру */
  display: flex;
  margin: auto;
  justify-content: center;
/* настройки шрифта */
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
/* задал размер заголовка */
  width: 60%;
/* выравнивание по центру */
  display: flex;
  margin: auto;
  justify-content: center;
/* отступ от заголовка */
  margin-top: 20px;
/* настройки шрифта */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
/* размер */
  width: 1100px;
/* выравнивание расстояния между блоками */
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
/* ширина одного маленького блока */
  width: 250px;
  margin-top: 60px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
/* убрал отступы */
  margin: 0;
/* настройки шрифта */
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
/* убрал отступы по умолчанию, а сверху добавил паддинг */
  margin: 0;
  padding-top: 20px;
/* настройки шрифта */
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
/* задал высоту */
  height: 890px;
/* задал цвет и картинку для фона */
  background: #f2f2f2 url(../images/feynman.png) no-repeat left bottom;
  position: relative;
}

.feynman__title {
/* задал размеры и выравнил по центру */
  width: 648px;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 100px;
  /* настройки шрифта */
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
/* выравнивание по центру */
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 70px;
  /* настройки шрифта */
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
/* выравнивание по центру и по праваму краю */
  position: absolute;
  right: 48px;
  top: 50%;
  /* настройки шрифта */
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  /* настройка отступов */
  padding: 90px 0 90px 0;
  /* для абс позиционирования чайлд элементов */
  position: relative;
  /* задаю цвет фона и скрываю выступающие элементы */
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  /* размеры */
  width: 877px;
  height: 877px;
  /* абсолютное позиционирование триугольника */
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  /* размеры отступов (вверх и низ)*/
  padding: 60px 0 40px 0;
  /* цвет фона */
  background-color: #1f1f1f;
}

.footer__columns {
  /* для абс позиционирования чайлд элементов */
  position: relative;
  /* размеры и выравнивание */
  min-height: 250px;
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.footer__column {
  /* цвет шрифта */
  color: white;
}

.column_content_copyright {
  /* базовый размер флекс элемента */
  flex-basis: 711px;
}

.logo_place_footer {
  /* задаю картинку логотипа и выравниваю */
  background-image: url(../images/logo_place_footer.svg);
  display: flex;
  justify-content: flex-start;
}

.footer__author {
  /* выравнивание по левому нижнему краю с отступами */
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 18px 0 18px 0;
  /* настройки шрифта */
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  margin: 20px 0 16px 0;
}

.footer__column-link {
  /* настройки шрифта */
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__column-heading {
  margin: 0;
  /* настройки шрифта */
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
